@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  height: 90px;
  padding: 0 25px;
  align-items: center;
  border-bottom: 3.5px solid #00b158;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  background: #ffffff;
  margin-left: 134px;
  width: 133px;
  height: 64px;
}

nav {
  margin-right: 163px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #363636;
  font-size: 18px;
  padding: 7px 15px;
  border-radius: 50px;
  margin: 0 3px;
  text-decoration: none;
}

a.active,
a:hover {
  background: #00b158;
  color: #ffffff;
  transition: 0.5s;
}

.checkbtn {
  background-image: url(img/Group\ 22@2x.png);
  cursor: pointer;
  margin-right: 40px;
  width: 26px;
  height: 20px;
  display: none;
}

.heroAddRecipes-image {
  background-image: url(img/leo-roza-P_z_xlMGuEk-unsplash@2x.png);
  height: 255px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-trans {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.hero-text {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 45px;
  color: white;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.addRecipesContainer {
  max-width: 80%;
  margin: auto;
  margin-top: 55px;
}

.backToHome {
  color: #363636;
  font-weight: 650;
  font-size: 16px;
}

.RecipesForm label {
  font-size: 16px;
  display: block;
  font-weight: 600;
}
.RecipesForm input {
  border-radius: 20px;
  max-width: 500px;
  width: 100%;
  height: 35px;
  padding: 0px 10px;
  font-size: 14px;
  margin-top: 9px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.addRecipesContainer h2 {
  font-size: 28px;
}

.mt-update {
  text-align: end;
  max-width: 520px;
  width: 100%;
}

.mt-update input {
  background-color: #4caf50;
  color: white;
  border-radius: 50px;
  border: none;
  width: auto;
  font-size: 16px;
  height: auto;
  padding: 10px 32px;
  margin-top: 10px;
  font-weight: 900;
}

.padding Ingredient {
  border-radius: 20px;
  width: 500px;
}

.RecipesForm textarea {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 20px;
  opacity: 1;
  max-width: 500px;
  margin-top: 9px;
  width: 100%;
  padding: 10px 10px;
}
.ingrediants {
  height: 110px;
}

.RecipeImgs {
  height: 272px;
}
.Radio_button {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.Radio_button input {
  width: auto;
  height: auto;
  margin-top: 0;
}

.Radio_button label {
  font-size: 14px;
  font-weight: 100;
}

.mt-Add-Recipes {
  text-align: start;
}

.mt-Add-Recipes input {
  background-color: #4caf50;
  color: white;
  border-radius: 50px;
  border: none;
  width: auto;
  font-size: 16px;
  height: auto;
  padding: 10px 32px;
  margin-top: 10px;
  font-weight: 900;
}

.footer-div {
  background-color: #17285a;
  opacity: 100%;
  margin: auto;
  width: 100%;
  display: block;
}
.yummy-footer {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px 0;
  justify-content: space-between;
  border-bottom: olivedrab;
}
.footer-menu {
  display: flex;
}
.yummy-div {
  display: flex;
  justify-content: space-between;
}
#yummy {
  color: #ffffff;
  opacity: 100%;
  width: 132px;
  height: 64px;
}
.footer-menu a {
  color: #ffff;
  margin-left: 20px;
}
.footer-year {
  border-top: 1px solid #ffffff;
  padding: 25px 0px;
  width: 80%;
  margin: auto;
}
.footer-year p {
  color: #ffffff;
  text-align: center;
}
