@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,400&display=swap');

body{
  background-color: #F2F2F2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    height: 90px;
    padding: 0 25px;
    align-items: center;
    border-bottom: 3.5px solid #00B158;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    background: #FFFFFF;
    margin-left: 134px;
    width: 133px;
    height: 64px ;
}

nav{
  margin-right: 163px;
  
}

nav ul li{
    
    display: inline-block;
  }

nav ul li a{
    
    font-family: 'Poppins', sans-serif;
    color: #363636;
    font-size: 18px;
    padding: 7px 15px;
    border-radius: 50px;
    margin: 0 3px;
    text-decoration: none;
  }

a.active, a:hover{
    background: #00B158;
    color: #FFFFFF;
    transition: .5s;
    
  }

.checkbtn{
  background-image: url(img/Group\ 22@2x.png);
  cursor: pointer;
  margin-right: 40px;
  width: 26px;
  height: 20px;
  display: none;
    
}

.hero-image {
  background-image: url(img/leo-roza-P_z_xlMGuEk-unsplash@2x.png);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-trans{
   background-color: rgba(0,0,0, 0.4);
   width: 100%;
   height: 100%;
   

}

.hero-text {
  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 45px ;
  color: white;
  position: absolute;
  background-color: rgba(0,0,0, 0.0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.box{
	width: 580px;
	height: 50px;
	background-color: #F2F2F2;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding-left: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
   
}

.searchInput{

    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px ;
    background-color: #F2F2F2;
    width: 500px;
    height: 50px;
    border-radius: 30px;
    border: 0;
	  outline: none;
}

.searchIcon{

    cursor: pointer;
    margin-right: 40px;
    color: #F2F2F2;
    width: 26px;
    height: 20px;
    width: 23.01px;
    height: 23.01px;
    margin-right: 24.99px;
    float: right;

}

.text-h1{
  font-family: 'Poppins', SemiBold;
  font-style: normal;
  text-align: center;
  font-size: 20px ;
  color: #00b158;
  margin-top: 53px;
}

.text-h2{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 36px ;
  color: #17285A;
  margin-top: 10px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  margin-top: 18px;
  font-weight: 700;
  margin-right: 132px;
  border-radius: 50px;
  width: 187px;
  height: 45px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  float: right;
  position: static;

}

@media (max-width: 1458px){

  .hero-text {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
  }

}

@media (max-width: 758px){
  .checkbtn{
    background-image: url(img/Group\ 22.png);
    display: block;
    margin-right: 10px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    float: right;
    top: 80px;
    left: -100%;
    display: none;
    text-align: center;
    transition: all .5s;
  }
  .logo{
    margin-left: 30px;
  }

  .hero-image {
    background-image: url(img/leo-roza-P_z_xlMGuEk-unsplash.png);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    font-size: 35px ;
 
  }

  .button{
     font-size: 16px;
     width: 187px;
     height: 45px;
     text-align: center;
     margin-top: 15px;
     top: 50%;
     left: 50%;
     transform: translate(-35%, -1%);
     transition: all .5s;
  }

  .box{
    width: 378px;
    transition: all .5s;
  }
  
  
}

@media (max-width: 458px){

  .checkbtn{
    background-image: url(img/Group\ 22.png);
    display: block;
    margin-right: 15px;
    align-items: center;
  }

  .logo{
    margin-left: 10px;
    align-items: center;
  }


  .nav{
    margin: 0%;
    width: 0%;
  }

  .button{
    margin-top: 11px;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -1%);
    transition: all .5s;
  }
}



